$borderColor: #85A0A4;

body {
  background: url(./lined_paper.png) repeat top left fixed;
  background-position-y: 10px;
  font-family: 'Sorts Mill Goudy', serif;
}

.main {
  background: white;
}

.grid {
  display: grid;
  height: 100%;
  grid-gap: 1%;

  // justify-content: center;
}

.cell {
  position: relative;
  border: thin solid $borderColor;
  height: 100%;

  .control {
    border: 2px solid $borderColor;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50px;
    top: -30px;
    background: url(./lined_paper.png) repeat top left fixed;
    z-index: 10;
    border-radius: 50%;
    z-index: 2000;

    .magnifierIcon {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 62%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    .bookIcon {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    .mapIcon {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    span {
      font-size: 60px;
      line-height: 60px;
    }
  }

  .control :hover {
    cursor: pointer;
  }

  // grid-column-end: span 2;
}
